.login-box {
    position: relative;
    margin: 10px auto;
    width: 500px;
    height: 380px;
    background-color: #fff;
    padding: 10px;
    border-radius: 3px;
    -webkit-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.33);
    -moz-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.33);
    box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.33);
}

.email-login,
.email-signup {
    position: relative;
    float: left;
    width: 100%;
    height: auto;
    margin-top: 20px;
    text-align: center;
}
.u-form-group {
    width: 100%;
    margin-bottom: 10px;
}
.u-form-group input[type='email'],
.u-form-group input[type='password'] {
    width: calc(50% - 22px);
    height: 45px;
    outline: none;
    border: 1px solid #ddd;
    padding: 0 10px;
    border-radius: 2px;
    color: #333;
    font-size: 0.8rem;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    transition: all 0.1s linear;
}
.u-form-group input:focus {
    border-color: #358efb;
}
.u-form-group button {
    width: 50%;
    background-color: #b351ae;
    border: none;
    outline: none;
    color: #fff;
    font-size: 14px;
    font-weight: normal;
    padding: 14px 0;
    border-radius: 2px;
    text-transform: uppercase;
}
.forgot-password {
    width: 50%;
    text-align: left;
    text-decoration: underline;
    color: #888;
    font-size: 0.75rem;
}

#div_create {
    position: absolute;
    width: 250px;
    left: 1050px;
    top: 49px;
}
.button-create-user {
    position: absolute;
    border-radius: 25px;
    left: 300px;
    top: 180px;
    color: white;
    background: #2500BF;
    width: 200px;
    height: 25px;
    border: 2px solid #2500BF;
}
.button-create-user:hover {
    background-color: #3304ee;
    color: white;
  }
.button-create-permission {
    position: absolute;
    top: -40px;
    border-radius: 25px;
    color: white;
    background: #2500BF;
    width: 200px;
    height: 25px;
    border: 2px solid #2500BF;

}
.button-create-permission:hover {
    background-color: #3304ee;
    color: white;
  }
.button-create-application {
    position: absolute;
    border-radius: 25px;
    color: white;
    background: #2500BF;
    width: 200px;
    height: 25px;
    top: -40px;
    border: 2px solid #2500BF;

}

.button-create-application:hover {
    background-color: #3304ee;
    color: white;
  }

.butt {
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
