body {
    background-image: url('../public/images/background.png');
    background-size: cover;

    .btn-primary, .btn-primary:hover, .btn-primary:focus {
        background-color: #6650ba;
        color: white;
        border-color: #6650ba;
    }
    
}

label {
    color: #765ed8;
}


table {
    background-color: white;
}