@mixin userCard {
    height: 400px;
    width: 300px;
    margin-top: 15%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    border-radius: 15px;
}
.user_card {
    @include userCard();
    background: linear-gradient(#e51783, #7758d0);
}

.user_card_dark {
    background: #0e2f39;
    @include userCard();
}

.form_container {
    .login_btn {
        width: 80%;
        border-radius: 10em !important;
        background: white !important;
        color: #8a4dc3 !important;
        margin-top: 2em;
    }

    .login_btn_dark {
        width: 80%;
        border-radius: 10em !important;
        background: white !important;
        color: #0e2f39 !important;
        margin-top: 2em;
    }

    .login_btn:focus {
        box-shadow: none !important;
        outline: 0px !important;
    }

    .login_container {
        padding: 0 2rem;
    }

    .input_user,
    .input_pass {
        background: transparent;
        color: white !important;
        border: 0;
        border-bottom: 1px solid white;
        border-radius: 0;
        text-align: center;

        &:focus {
            background: transparent;
            outline: none !important;
        }

        &::placeholder {
            color: white;
            text-align: center;
        }
    }

    .error {
        width: 100%;
        margin-top: 0.25rem;
        font-size: 0.875em;
        color: white;
    }
}
