.container_position {
    position: absolute;
    background: #765ed7;
    border-radius: 25px;
    width: 1020px;
    height: 70px;
    left: 300px;
    top: 100px;
}

.Account_manger_Logo_Page {
    position: absolute;
    left: 300px;
    top: 50px;
}

.Account_manager {
    position: absolute;
    color: #2500bf;
    left: 370px;
    top: 35px;
}

.Title_Position {
    position: absolute;
    color: white;
    top: -8px;
    left: 30px;
    font-size: 23px;
}

.Title_PositionPage {
    position: absolute;
    color: white;
    top: 25px;
    left: 30px;
    font-size: 13px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    // font-style: normal;
}


.Search_User {
    margin-bottom: 10px;
}

.button_create_user {
    position: absolute;
    top: -60px;
    left: -250px;
    border-radius: 25px;
    color: white;
    background: #2500BF;
    width: 200px;
    height: 25px;
    border: 2px solid #2500BF;

}

.button_create_user:hover {
    background-color: #3304ee;
    color: white;
}

.select_box_filter {
    height: 23px;
    margin-right: 10px;
    margin-bottom: 10px;
}