.login-box {
    position: relative;
    margin: 10px auto;
    width: 500px;
    height: 380px;
    background-color: #fff;
    padding: 10px;
    border-radius: 3px;
    -webkit-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.33);
    -moz-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.33);
    box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.33);
}

.email-login,
.email-signup {
    position: relative;
    float: left;
    width: 100%;
    height: auto;
    margin-top: 20px;
    text-align: center;
}
.u-form-group {
    width: 100%;
    margin-bottom: 10px;
}
.u-form-group input[type='email'],
.u-form-group input[type='password'] {
    width: calc(50% - 22px);
    height: 45px;
    outline: none;
    border: 1px solid #ddd;
    padding: 0 10px;
    border-radius: 2px;
    color: #333;
    font-size: 0.8rem;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    transition: all 0.1s linear;
}
.u-form-group input:focus {
    border-color: #358efb;
}
.u-form-group button {
    width: 50%;
    background-color: #b351ae;
    border: none;
    outline: none;
    color: #fff;
    font-size: 14px;
    font-weight: normal;
    padding: 14px 0;
    border-radius: 2px;
    text-transform: uppercase;
}
.forgot-password {
    width: 50%;
    text-align: left;
    text-decoration: underline;
    color: #888;
    font-size: 0.75rem;
}


.Container_Formulaire{
    position: absolute;
    width: 250px;
    left: -250px;
    top: 0px;
}
.Input_Formulaire{
    margin-bottom: 10px;
    background: #FFFFFF;
    border: 1px solid #765ED7;
    box-sizing: border-box;
    box-shadow: inset 0px -2px 4px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    width: 220px;
    height: 23px;
}

.Button_Update_User {
    position: absolute;
    border-radius: 25px;
    color: white;
    background: #2500BF;
    width: 90px;
    height: 25px;
    top: 260px;
    border: 2px solid #2500BF;
}

.Button_Update_User:hover {
    background-color: #3304ee;
    color: white;
}

.Button_Delete_User {
    position: absolute;
    border-radius: 25px;
    color: white;
    background: #2500BF;
    width: 220px;
    height: 25px;
    border: 2px solid #2500BF;
    top: 150px;
}

.Button_Delete_User:hover {
    background-color: #3304ee;
    color: white;
}

.Tite_Input{
    color: #2500BF;
}

.Button_Cancel {
    position: absolute;
    border-radius: 25px;
    color: white;
    background: #2500BF;
    width: 90px;
    height: 25px;
    top: 260px;
    left: 129px;
    border: 2px solid #2500BF;
  }

.Button_Cancel:hover {
    background-color: #3304ee;
    color: white;
}