.Container_Formulaire{
    position: absolute;
    width: 250px;
    left: 300px;
    top: 240px;
}
.Input_Formulaire{
    margin-bottom: 10px;
    background: #FFFFFF;
    border: 1px solid #765ED7;
    box-sizing: border-box;
    box-shadow: inset 0px -2px 4px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    width: 220px;
}

.Button_Create_User {
    position: absolute;
    border-radius: 25px;
    color: white;
    background: #2500BF;
    width: 90px;
    height: 25px;
    top: 210px;
    border: 2px solid #2500BF;
}

.Button_Create_User:hover {
    background-color: #3304ee;
    color: white;
  }

.Button_Cancel {
    position: absolute;
    border-radius: 25px;
    color: white;
    background: #2500BF;
    width: 90px;
    height: 25px;
    top: 210px;
    left: 129px;
    border: 2px solid #2500BF;

}
.Button_Cancel:hover {
    background-color: #3304ee;
    color: white;
}

.Tite_Input{
    color: #2500BF;
}


